snippet modeline "Vim modeline"
# vim: ai ts=$1 sts=$2 et sw=$3 ft=$4
endsnippet


snippet header "Vim Header"
#################################################################################
#     Created By          :     Sam Liu <Sam.Liu@ActiveNetwork.com>
#     Description         :     $1
#################################################################################

$2
endsnippet
